<div class="mainBody">   
    <div id="openModal" class="modalDialog">
        <div class="bloqueForm">

            <div class="form">
                <form #libroForm="ngForm" (ngSubmit)="onSubmit(libroForm)">

                    <div class="form-group">
                        <label>Categoría:</label>
                        <input type="text" name="titulo" class="form-control" [(ngModel)]="categoria.nombre"
                            #titulo="ngModel"
                            [ngClass]="{'is-invalid': (titulo.dirty || titulo.touched) && titulo.invalid }" required>
                        <div *ngIf="(titulo.dirty || titulo.touched) && titulo.invalid " class="invalid-feedback">
                            <div *ngIf="titulo.errors?.['required']">* Introduce categoría</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="colaborar" [disabled]="libroForm.invalid">Añadir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

