<!-- Tarjeta animada con la información sobre los libros -->

<div class="mainBody">
    <div class="contenedorSecundario" *ngFor="let libro of biblioteca">
        <div class="crudOptions">
            <ul class="wrapper">                
                <li class="icon delete">
                    <span class="tooltip">Delete</span>
                    <span><i type="button" class="delete" (click)="deleteLibro(libro.id_libro)">X</i></span>
                </li>
            </ul>
        </div>
        <div class="tarjeta">
            <div class="tarjetaContenido">
                <div class="tarjetaFront">

                    <div class="tarjetaImg">
                        <img class="portada" src="{{libro.portada}}">
                    </div>
                    <div class="tarjetaInfo">
                        <div class="titulo">
                            {{libro.titulo}}
                        </div>
                        <div class="info">
                            Autor:  {{libro.autor}}
                        </div>
                        <div class="info">
                            Editorial:  {{libro.editorial}}
                        </div>
                        <div class="info">
                            Publicación:  {{libro.fechaPublicacion}}
                        </div>
                        <div class="info">
                            Tapa:  {{libro.tapa}}
                        </div>
                        <div class="info">
                            Categorias:  {{libro.categorias}}
                        </div>
                    </div>
                </div>
                <div class="tarjetaBack">
                    <div class="spacer">	
                        &#8984;</div>
                    <div class="sinapsis">
                        {{libro.sinapsis}}
                    </div>
                    <div class="spacer">	
                        &#8984;</div>
                </div>
            </div>
        </div>
    </div>
</div>